<!DOCTYPE html>
<html>
<head>
	<title>Tour Destinations</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/decfiles/index.css" type="text/css">
	
	<script src="https://simeydotme.github.io/jQuery-canvas-sparkles/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://simeydotme.github.io/jQuery-canvas-sparkles/bower_components/requestAnimationFrame-polyfill/requestAnimationFrame.js"></script>
	<script src="https://simeydotme.github.io/jQuery-canvas-sparkles/dist/jquery-canvas-sparkles.js"></script>
	<script src="/decfiles/javascript.js"></script>

</head>
<body>
