<%- include("partials/header.ejs")%>
<!-- navbar -->


<!-- create a sample form group -->
<div class="container">
  <form action="/index/new" method="POST">
	<div class="form-group">
	  <label>Destination Name</label>
	  <input class="form-control" type="text" placeholder="Name of Place" name="dstname">
	  <small class="form-text text-muted">enter city/place/country you want to visit</small>
	</div>
	  
	<div class="form-group">
	  <label>Image URL</label>
	  <input class="form-control" type="text" placeholder="Enter Image URL" name="imgurl">
	  <small class="form-text text-muted">enter the URL of image</small>
	</div>
	  
	<button type="submit" class="btn btn-primary">
		Add 
	</button>
		
</form>	
</div>


<%- include("partials/footer.ejs")%>