<%- include("partials/header.ejs") %>

<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body" style="padding: 40px!important;">
            <h5 class="card-title text-center display-4">Login</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <label for="inputEmail" style="margin-top: 10px;">Email Address</label>
                <input type="email" style="margin: 0 0 10px 0;" id="inputEmail" class="form-control" placeholder="Email Address" required autofocus>
              </div>

              <div class="form-label-group">
                <label for="inputPassword">Password</label>
                <input type="password" style="margin: 0 0 10px 0;" id="inputPassword" class="form-control" placeholder="Password" required>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" style="margin: 20px 0 10px 0;">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>



<%- include("partials/footer.ejs") %>
