 .border {
    display: inline-block;
	border: 2px black;
    outline-color: blue;
    width: 600px;
    height: 300px;
    margin: 150px;
  }
  .form-textbox {
	height: 35px;
	width: 500px;
	font-size: 14px;
}